    <div class="card" (click) = "openDetails(item)" >
        <div class="img-container">
            <img src="../../assets/images/{{item.imagePath}}" alt="image"
                class="card-img-top rounded-circle shadow store-img">
        </div>
        <div class="card-body">
            <div class="card-text">
                <h4 class=" item-name justify-content-between text-capitalize"><b><i>{{item.name}}</i></b></h4>
                <h4 class="float-right">
                    <span><b><i>Rs</i></b></span>
                    <span><b><i>{{item.price}}</i></b></span>
                  
                </h4>
            </div>
           
            </div>
            
        </div>
      
        

